html, body {
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    height: 80px;
    background: #DEB887;
}

.headerfont {
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-left: 170px;
}

.leftSidebar {
    height: 700px;
    width: 15%;
    background: #DEB887;
    display: inline-block;
    float: left;
}

.content {
    display: inline-block;
    height: 700px;
    width: 70%;
    background: #FFE4C4;
    float:left;
}
.content > .wrapper {
    padding-left:10px;
    padding-top:10px;
}
.rightSidebar {
    display: inline-block;
    height: 700px;
    width: 15%;
    background: #DEB887;
    float: left;
}

.footer {
    width: 100%;
    height: 133px;
    background: #927959;
}

.innerWrapper{
    height: 700px;
}

.header img{
    margin-left: 15%;
}

.sidenote{
    color: white;
    font-size: 14px;
    padding-left: 450px;
    padding-top: 65px;
}
.wrapper a{
    margin-right: 10px;
    margin-top: 10px;

}
